/venv/
2020VAERSData.csv
2020VAERSSYMPTOMS.csv
2020VAERSVAX.csv
2021VAERSData.csv
2021VAERSSYMPTOMS.csv
2021VAERSVAX.csv
VAERS_COVID_DataAugust2021.csv
SYMPTOMDATA.csv
CombinedDataSet.csv
quicksort.csv
mergeSort.csv
insertionSort.csv
deathCount.json
1To3AgeSorted.csv
4To11AgeSorted.csv
12To18AgeSorted.csv
19To30AgeSorted.csv
31To40AgeSorted.csv
41To50AgeSorted.csv
51To60AgeSorted.csv
61To70AgeSorted.csv
71To80AgeSorted.csv
FemaleGenderSorted.csv
greaterThan80AgeSorted.csv
JAndJVaccineSorted.csv
lessThan1AgeSorted.csv
MaleGenderSorted.csv
ModernaVaccineSorted.csv
PfizerVaccineSorted.csv
UnknownAgeSorted.csv
UnknownGenderSorted.csv
UnknownVaccineSorted.csv